{% extends "index.html" %}
{%block title%}
MONTHLY DATA
{%endblock%}
{%block heading%}
<link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">

<h1></h1>
<a href="{{url_for('main')}}">HOME</a>


{%endblock%}
{% block content %}
<!--

    <input type="text" id="myInput"  placeholder="Search for data..." >
-->
<br>
<div class='table-area'>
<table>
    <tr>
        <th>S No.</th>
        <th>E-mail</th>
        <th>Name</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Year</th>
        <th>Branch</th>
        <th>College</th>
        <th>Domain</th>
        <th>Joined</th>
        <th>Done</th>
    </tr>
    <div class="table-data">
    {% for row in data %}
    <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
        <td><input type="checkbox" name="done"></td>
    </tr>   
    {% endfor %} 
    </div>
    
    
    
</table>
</div>


{% endblock %}
